.videos {
    height: 35rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__menu {
        height: 4rem;

        &--items {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &--item {
            &:not(:first-child) {
                margin: 0 1.9rem;
            }
            font-size: 1.9rem;
            transition: all .3s;

            &:hover {
                cursor: pointer;
                color: rgba($color-black, .7);
                font-weight: 700;
                transform: scale(1.3);
            }
        }
    }

    &__list {
        &--items {

        }

        &--item {
            & > img {
                height: 10rem;
            }
        }
    }
}

.col-1 {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
        font-size: 6rem;
        color: $color-primary;
    }
}

.col-2 {
    height: 100%;
    width: 84%;
    padding: 3rem 0;
}

.active {
    color: rgba($color-black, .7);
    font-weight: 700;
    transform: scale(1.3);
}